<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_name</key>
		<string>car</string>
		<key>title</key>
		<string>Car</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>travel</string>
		<key>title</key>
		<string>Travel</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>transport</string>
		<key>title</key>
		<string>Transport</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>food</string>
		<key>title</key>
		<string>Food</string>
	</dict>
</array>
</plist>
